@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|Roboto:300,400,700');

.wrap {
  background-color: #eee;
}

.contact {
  font-size: 20px;
  text-align: center;
  padding: 20px;
  background-color: #A51C30;
  color: white;
}

.imageWrap {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-image: url("/boardphoto.jpg");
}

.contentWrap {
}

/* title */
.title {
  position: absolute;
  top: 120px;
  left: 30px;
  text-align: center;
  font-size: 50px;
  font-weight: normal;
  color: white;
  padding: 30px;
  background-color: rgba(50, 50, 50, 0.6);
  font-weight: bold;
  z-index: 1;
}

/* board image */
.boardimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  height: 100vh;
}

/* email icon */
.emailimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0.7em;
}

.icon {
  opacity: 80%;
  height: 30px;
  width: 30px;
  padding: 5px;
  margin-top: 10px;
}

.emailhcsboard {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 200;
}

/* e.g. Technology, Directors of Technology */
.h2 {
  padding: 0.3em;
  color: #999;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 1.7em;
  text-align: center;
}

.boxes {
  text-align: center;
  padding-bottom: 30px;
}

/* pink */
.box {
  background-color: #cec2c2;
  text-align: center;
  padding: 1.5rem 0;
  display: inline-block;
  box-shadow: black;
  width: 350px;
  margin: 10px;
  vertical-align: top;
}

.bio {
  color: #eee;
  display: none;
  font-size: 13px;
  font-weight: 100;
  line-height: 1.6;
  /* text-align: justify;
  text-justify: inter-word; */
}


.personalintro .name, .name {
    text-align: center;
    text-decoration: none;
    background-color: rgba(255,255,255,0);
    font-size: 1.5em;
    color: #333;
    display: block;
    padding: .5em 0;
    font-weight: 800;
}


.pics {
  overflow: hidden;
  border-radius: 50%;
  margin: auto;
  width: 250px;
  height: 250px;
}

.pics img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/*

@media only screen and (max-width: 1000px) {
  .personalintro,
  .pics {
    padding: 1em;
  }
  .pics {
    justify-content: flex-start;
  }
  .pics .picframe {
    width: calc(50% - 20px);
  }
}



@media only screen and (max-width: 750px) {
  .employeeswrapper {
    flex-wrap: wrap;
    max-width: 500px;
  }
  h2 {
    font-size: 1.4em;
    text-align: center;
  }
  .pics .name {
    display: block;
    text-align: center;
    padding: .5em;
    margin-bottom: 1em;
    width: 100%;
  }
  .personalintro,
  .pics {
    width: 100%;
    text-align: center;
  }
  .pics {
    justify-content: center;
  }
  .pics .picframe {
    display: block;
    width: 100%;
    max-width: 400px;
    height: 350px;
    margin: 0;
    padding: 1em 0 0;
    filter: saturate(1) !important;
  }
}

@media only screen and (max-width: 500px) {
  .pics .picframe {
    display: block;
    width: 100%;
    max-width: 400px;
    height: 250px;
  }
  h1 {
    font-size: 1.3em;
  }
}

@media only screen and (max-width: 400px) {
  .pics .picframe {
    display: block;
    width: 100%;
    max-width: 400px;
    height: 250px;
  }
  h1 {
    font-size: 1.2em;
  }
} */

.wrapper {
  margin: 30px;
}
