@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Ionicons";
  src: url("/fonts/Ionicons/ionicons.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

html, body {
  overflow-x: hidden;
}
