@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Zilla";
  src: url("/fonts/Zilla/ZillaSlab-Regular.ttf");
}

@font-face {
  font-family: "Zilla";
  src: url("/fonts/Zilla/ZillaSlab-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Zilla";
  src: url("/fonts/Zilla/ZillaSlab-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: "Zilla";
  src: url("/fonts/Zilla/ZillaSlab-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Ionicons";
  src: url("/fonts/Ionicons/ionicons.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

h1, h2, h3, h4 {
  font-family: "Zilla";
}


html, body {
  overflow-x: hidden;
}

p {
  line-height: 1.8em;
}

a {
  color: #336;
}

iframe {
  border: none;
  width: 100%;
}

