.calendar {
  display: inline-block;
}

.calendarTitle {
  border: 3px solid #A51C30;
  background-color: #eee;
  font-size: 30px;
  color: #A51C30;
  padding: 10px 20px;
  width: 300px;
  text-align: center;
  margin: 10px;
  position: relative;
}

.calendarList {
  list-style-type: none;
}

.event {
  color: #A51C30;
  padding: 15px 20px;
  width: 300px;
  margin: 10px;
  background-color: #eee;
  text-align: left;
  position: relative;
}

.event::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 10px;
  background-color: #B74959;
}

.date {
}

.description {
  font-weight: bold;
  color: black;
  margin-bottom: 15px;
}
