.main {
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 60px;
  background-color: #A51C30;
}

.navList {
  list-style-type: none;
  background-color: #A51C30;
  padding: 0px 40px;
  margin: 0 auto;
  border-bottom: 1px solid black;
}

.navSubList {
  position: absolute;
  display: none;
  list-style-type: none;
  top: 100%;
  min-width: 100%;
}

.navListSubLi {
  background-color: black;
  white-space: nowrap;
  min-width: 100%;
}

.navListLi {
  display: inline-block;
  margin: 0px 20px;
  position: relative;
}

.navListA, .navSubListA {
  text-decoration: none;
  display: block;
  text-align: left;
  color: white;
  padding: 20px;
}

.navListA:hover, .navSubListA:hover {
  color: white;
  cursor: pointer;
}

.navListA:hover {
  background-color: #851526;
}

.navSubListA:hover {
  background-color: #851526;
}

.footer {
  background-color: #cfcfcf;
  padding: 20px;
  text-align: center;
}

.navListCollapse {
  display: none;
  float: right;
  margin: 10px;
}

.navListCollapse:hover {
  cursor: pointer
}

.expandItem {
  display: none;
  position: absolute;
  top: 0px;
  height: 29px;
  padding: 15px 10px;
  right: 0px;
}

.expandItem:hover {
  cursor: pointer
}

.expandItem:hover {
  background-color: #851526;
}

.navImage {
  display: none;
  margin: 5px;
}
  
@media (max-width: 800px) {
  .navImage {
    display: inline-block;
  }
  .navListLi {
    display: none;
    margin: 0;
    border-top: 1px solid black
  }
  .expandItem {
    display: block;
  }
  .navListLi.open {
    display: block;
  }
  .navList {
    padding: 0;
  }
  .navSubList {
    position: static;
    display: none;
  }
  .navSubList.expanded {
    display: block;
  }
  .navListCollapse {
    display: inline-block;
  }
}


@media (min-width: 800px) {
  .navListLi:hover .navSubList {
    display: block;
  }
  .navListLiRight {
    float: right;
  }

}
