.button {
  padding: 15px;
  font-size: 16px;
  box-shadow: none;
  text-align: center;
  display: inline-block;
  margin: 10px;
  transition: background-color 0.5s;
  color: white;
  background-color: rgba(20, 20, 20, 0.3);
}

.checkList {
  width: 25px;
  vertical-align: middle;
  height: 25px;
  display: inline-block;
  border-radius: 6px;
  background-color: white;
}

.selected .checkList {
  background-image: url("/check-black-18dp.svg");
  background-size: cover;
}

.listText {
  vertical-align: center;
  line-height: 20px;
  margin: 10px;
  font-size: 20px;
  display: inline-block;
}

.inputText {
  margin: 20px auto;
  padding: 15px;
  text-align: center;
  width: 80%;
  max-width: 800px;
  margin: auto;
  background-color: #eee;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 20px;
  display: inline-block;
  box-shadow: none;
  border: none;
  vertical-align: middle;
}

.button:hover {
  cursor: pointer;
  background-color: rgba(20, 20, 20, 0.6);
  color: white;
}

.title {
  font-size: 40px;
  margin: 30px 20px 20px 20px;
  font-weight: normal;
  color: black;
}

.wrap {
  text-align: center;
  padding: 20px 10px;
  background-color: #5171A5;
}

.submit {
  display: inline-block;
  padding: 19px 50px;
  margin: 10px;
  margin-right: 0;
  font-size: 20px;
  line-height: 20px;
  box-shadow: none;
  border: none;
  vertical-align: middle;
  transition: background-color 0.5s;
  color: white;
  background-color: rgba(145, 8, 28);
}

.submit:hover {
  cursor: pointer;
  background-color: rgba(165, 28, 48, 1);
}

.content {
  max-width: 1600px;
  margin: auto;
}
